@import url("https://fonts.googleapis.com/css?family=Press Start 2P");
@import url("https://fonts.googleapis.com/css?family=JetBrains%20Mono");

:root {
    --font-color: rgb(255, 255, 255);
    --background: rgb(20, 20, 20);
    --header-footer-color: rgb(30, 30, 30);
    --header-footer-height: 100px;
    --border-color: rgb(40, 40, 40);
    --hover-color: rgb(180, 180, 180);
    --ps2p: "Press Start 2P", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    overflow-x: hidden;
    overflow-y: auto;
}

.h1 {
    font-family: var(--ps2p);
    font-size: 3.6vw;
    color: var(--font-color);
}

.h2 {
    font-family: var(--ps2p);
    font-size: 0.8vw;
    color: var(--font-color);
}

.nothing {
    place-self: center;
    font-size: 1vw;
    font-family: var(--ps2p);
    color: rgb(255, 255, 255);
}

li {
    list-style-type: none;
}

nav {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.nav-link,
.navbar-brand {
    text-decoration: none;
    font-family: var(--ps2p);
    color: var(--font-color);
}

.nav-item {
    height: 16px;
}

/*
.navigation {
    width: fit-content;
    height: fit-content;
    font-family: var(--ps2p);
    font-size: 22px;
    border-radius: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 18px; /* Abstand zwischen home und about me *//*
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: var(--header-footer-color);
}

.navButton {
    height: fit-content;
    width: fit-content;
    font-weight: lighter;
    display: inline-block;
    margin-right: 2vw; /* 36px *//*
}
*/

.nameBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border: 1px solid red;
    border-radius: 10px;
}

.mandoBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: fit-content;
    height: fit-content;
    border: 1px solid red;
    border-radius: 10px;
}

.mando {
    align-self: center;
    width: 20%;
    height: 20%;
}

.footerBox {
    height: var(--header-footer-height);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 4px solid var(--border-color);
    background-color: var(--header-footer-color);
}

.headerBox {
    height: var(--header-footer-height);
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 4px solid var(--border-color);
    background-color: var(--header-footer-color);
}

.currentPage {
    color: rgb(160, 160, 160);
    /* background-color: rgb(30, 30, 30); */
}

.homeBox {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 2000px;
    margin: 60px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
}

.aboutMeBox {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 400px;
    margin: 60px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
}

a:hover {
    color: var(--hover-color);
    /* background-color: rgb(40, 40, 40); */
}

.profilePicture {
    width: 40px;
    height: 40px;
    border:  0px solid var(--border-color);
    border-radius: 100px;
    position: absolute;/*
    position: absolute;
    right: 60px;
    justify-self: center;*/
}

.pbLink {
    width: 40px;
    height: 40px;
    border: 0px solid wheat;
    position: absolute;
    right: 60px;
    justify-self: center;
}

.pbLink:hover {
    background-color: var(--header-footer-color);
}

.profilePicture:hover {
    transform: scale(1.1);
}

.directory {
    color: rgb(255, 255, 255);
    font-family: var(--ps2p);
    font-size: 10px;
    text-align: left;
    position: absolute;
    text-align: left;
    align-self: self-start;
    padding-left: 60px;
}

.version {
    width: fit-content;
    height: fit-content;
    color: rgb(255, 255, 255);
    font-family: var(--ps2p);
    font-size: 10px;
    white-space: nowrap;
    text-align: right;
    align-self: self-end;
    padding-right: 60px;
}