@font-face {
    font-family: Poppins;
    src: url(Poppins.ttf);
}

*:not(head) {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    color: white;
    font-size: 8vw;
    margin: 0;
}

body {
    background: rgb(15, 15, 15);
    width: 100vw;
    height: 100vh;
}

main,
div {
    flex-direction: column;
    position: relative;
}

ion-icon {
    animation: spin 20s linear infinite;
    position: absolute;
}

.first {
    animation-direction: normal;
    left: 8.6%;
}

.second {
    animation-direction: reverse;
    right: 7.6%;
}

h1 {
    font-family: Poppins;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1;
}

.top {
    font-size: 20vw;
}

p {
    visibility: hidden;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
