@import url("https://fonts.googleapis.com/css?family=Press Start 2P");

:root {
    --font-color: rgb(255, 255, 255);
    --background: #0d1117;
    --header-footer-color: #21262d;
    --border-color: rgb(40, 40, 40);
    --hover-color: rgb(170, 170, 170) 
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    background-color: rgb(10, 10, 10);
}

.mainBoxHome,
.mainBoxAboutMe,
.mainBoxPython,
.mainBoxHtml {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}

.defaultCursor {
    cursor: default;
}

.navList {
    list-style-type: none;
    padding-left: 0;
}

nav {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.navigation {
    width: fit-content;
    height: fit-content;
    font-family: "Press Start 2P", sans-serif;
    font-size: 20px;
    border-radius: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: var(--header-footer-color);
}

.gitHubImage {
    width: 40px;
    height: 40px;
}

.socials {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
}

.navButton {
    height: fit-content;
    width: fit-content;
    font-weight: lighter;
    display: inline-block;
    margin-right: 2vw; /* 36px */
}

.mainHead {
    color: rgb(255, 255, 255);
    font-family: "Press Start 2P", sans-serif;
    font-size: 4vw;
    white-space: nowrap;
    position: relative;
}

.nameBox {
    align-self: center;
    justify-self: center;
    place-self: center;
    width: fit-content;
    height: fit-content;
    border: 0px solid wheat;
}

.subHead {
    color: rgb(255, 255, 255);
    font-family: "Press Start 2P", sans-serif;
    font-size: 1vw;
    font-weight: normal;
}

.footerBox {
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    border-top: 1px solid var(--border-color);
    background-color: var(--header-footer-color);
}

.headerBox {
    height: 100px;
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--header-footer-color);
}

.currentPage {
    color: rgb(190, 190, 190);
    /* background-color: rgb(30, 30, 30); */
}

.homeBox,
.aboutMeBox,
.pythonBox,
.htmlBox {
    display: grid;
    text-align: center;
    position: relative;
    width: calc(100% - 120px);
    height: 80vh; /* calc(100% - ((2 * 90px) + (2 * 2px))); */
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 80px;
    margin-bottom: 80px;
}

a:hover {
    color: var(--hover-color);
    /* background-color: rgb(40, 40, 40); */
}

.profilePicture {
    width: 40px;
    height: 40px;
    border:  0px solid white;
    border-radius: 100px;/*
    position: absolute;
    right: 60px;
    justify-self: center;*/
}

.pbLink {
    width: 40px;
    height: 40px;
    border: 0px solid wheat;
    position: absolute;
    right: 60px;
    justify-self: center;
}

.pbLink:hover {
    background-color: var(--header-footer-color);
}

.profilePicture:hover {
    transform: scale(1.1);
}

.aboutMeHeading {
    width: 100%;
    height: fit-content;
    font-family: "Press Start 2P", sans-serif;
    font-size: 68px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    border: 1px solid var(--border-color);
    border-radius: 0.1em;
    text-align: center;
    align-self: baseline;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.wTable {
    width: 32%;
    height: 30%;
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    position: absolute;
    left: 0;
}

.wTableHead,
.skillsTableHead {
    text-align: center;
    font-weight: lighter;
    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-size: 52px;
}

.wTableText {
    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-size: 22px;
    text-align: left;
}

.wH {
    font-family: "Press Start 2P", sans-serif;
    font-size: 22px;
    text-align: right;
    color: rgb(200, 200, 200);
    position: relative;
    right: 2%;
}

.aboutMeTableRow {
    margin-left: 10px;
}

.skillsTable {
    table-layout: fixed;
    width: 30%;
    height: 30%;
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    align-self: baseline;
    position: absolute;
    right: 0;
    margin-top: 60px;
}

.skillsTableSubHead {
    text-align: left;
    font-weight: lighter;
    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-size: 32px; 
}

.skillsTableText {
    font-weight: lighter;
    color: rgb(200, 200, 200);
    text-align: left;
}

.pythonLink,
.htmlLink {
    font-family: "Press Start 2P", sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: rgb(200, 200, 200);
}

td {
    margin: 0%;
    width: fit-content;
    color: rgb(255, 255, 255);
    font-family: "Press Start 2P", sans-serif;
    font-size: 22px;
}

.directory {
    color: rgb(255, 255, 255);
    font-family: "Press Start 2P", sans-serif;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
    text-align: left;
    position: absolute;
    text-align: left;
    align-self: self-start;
    padding-left: 60px;
}

.version {
    width: fit-content;
    height: fit-content;
    color: rgb(255, 255, 255);
    font-family: "Press Start 2P", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    text-align: right;
    align-self: self-end;
    padding-right: 60px;
}

.pythonCertificate,
.htmlCertificate {
    width: 80%;
}

.pythonBox,
.htmlBox {
    place-items: center;
}

.nothing {
    align-self: center;
    place-self: center;
    font-size: 1vw;
    font-family: "Press Start 2P", sans-serif;
    color: rgb(255, 255, 255);
}

.test {
    color: aliceblue;
}