@font-face {
    font-family: Poppins;
    src: url(Poppins.ttf);
}

:root {
    --background: rgb(15, 15, 15);
    --text: rgb(20, 20, 20);
}

*:not(head) {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    margin: 0;
    color: var(--text);
}

body {
    background: rgb(15, 15, 15);
    width: 100vw;
    height: 100vh;
}

main {
    flex-direction: column;
}

h1,
h2 {
    font-family: Poppins;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1;
    padding: 3px 10px;
}

h1 {
    font-size: 20vw;
    text-shadow: 6px 6px 16px black;
}

h2 {
    font-size: 8vw;
    text-shadow: 4px 4px 8px black;
}
