@keyframes colorLoop {
    0% {
        border-color: rgb(255, 0, 0);
    }
    2% {
        border-color: rgb(255, 25, 0);
    }
    3% {
        border-color: rgb(255, 50, 0);
    }
    5% {
        border-color: rgb(255, 75, 0);
    }
    6% {
        border-color: rgb(255, 100, 0);
    }
    8% {
        border-color: rgb(255, 125, 0);
    }
    10% {
        border-color: rgb(255, 150, 0);
    }
    11% {
        border-color: rgb(255, 175, 0);
    }
    13% {
        border-color: rgb(255, 200, 0);
    }
    14% {
        border-color: rgb(255, 225, 0);
    }
    16% {
        border-color: rgb(255, 255, 0);
    }
    18% {
        border-color: rgb(225, 255, 0);
    }
    19% {
        border-color: rgb(200, 255, 0);
    }
    21% {
        border-color: rgb(175, 255, 0);
    }
    22% {
        border-color: rgb(150, 255, 0);
    }
    24% {
        border-color: rgb(125, 255, 0);
    }
    26% {
        border-color: rgb(100, 255, 0);
    }
    27% {
        border-color: rgb(75, 255, 0);
    }
    29% {
        border-color: rgb(50, 255, 0);
    }
    30% {
        border-color: rgb(25, 255, 0);
    }
    32% {
        border-color: rgb(0, 255, 0);
    }
    34% {
        border-color: rgb(0, 255, 25);
    }
    35% {
        border-color: rgb(0, 255, 50);
    }
    37% {
        border-color: rgb(0, 255, 75);
    }
    38% {
        border-color: rgb(0, 255, 100);
    }
    40% {
        border-color: rgb(0, 255, 125);
    }
    42% {
        border-color: rgb(0, 255, 150);
    }
    43% {
        border-color: rgb(0, 255, 175);
    }
    45% {
        border-color: rgb(0, 255, 200);
    }
    46% {
        border-color: rgb(0, 255, 225);
    }
    48% {
        border-color: rgb(0, 255, 255);
    }
    50% {
        border-color: rgb(0, 225, 255);
    }
    51% {
        border-color: rgb(0, 200, 255);
    }
    53% {
        border-color: rgb(0, 175, 255);
    }
    54% {
        border-color: rgb(0, 150, 255);
    }
    56% {
        border-color: rgb(0, 125, 255);
    }
    58% {
        border-color: rgb(0, 100, 255);
    }
    59% {
        border-color: rgb(0, 75, 255);
    }
    61% {
        border-color: rgb(0, 50, 255);
    }
    62% {
        border-color: rgb(0, 25, 255);
    }
    64% {
        border-color: rgb(0, 0, 255);
    }
    66% {
        border-color: rgb(25, 0, 255);
    }
    67% {
        border-color: rgb(50, 0, 255);
    }
    69% {
        border-color: rgb(75, 0, 255);
    }
    70% {
        border-color: rgb(100, 0, 255);
    }
    72% {
        border-color: rgb(125, 0, 255);
    }
    74% {
        border-color: rgb(150, 0, 255);
    }
    75% {
        border-color: rgb(175, 0, 255);
    }
    77% {
        border-color: rgb(200, 0, 255);
    }
    78% {
        border-color: rgb(225, 0, 255);
    }
    80% {
        border-color: rgb(255, 0, 255);
    }
    82% {
        border-color: rgb(255, 0, 225);
    }
    83% {
        border-color: rgb(255, 0, 200);
    }
    85% {
        border-color: rgb(255, 0, 175);
    }
    88% {
        border-color: rgb(255, 0, 150);
    }
    90% {
        border-color: rgb(255, 0, 125);
    }
    92% {
        border-color: rgb(255, 0, 100);
    }
    94% {
        border-color: rgb(255, 0, 75);
    }
    96% {
        border-color: rgb(255, 0, 50);
    }
    98% {
        border-color: rgb(255, 0, 25);
    }
    100% {
        border-color: rgb(255, 0, 0);
    }
}