@import url("https://fonts.googleapis.com/css?family=Press Start 2P");
@import url("https://fonts.googleapis.com/css?family=JetBrains%20Mono");
@import url("https://fonts.googleapis.com/css?family=UnifrakturMaguntia");
@import url("https://fonts.googleapis.com/css?family=Crimson Text");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

:root {

    --body-font-size: 10px;

    /* sizes */
    --pxNeg30: -3rem;
    --pxNeg10: -1rem;
    --px005: 0.05rem;
    --px02: 0.2rem;  
    --px04: 0.4rem;  
    --px06: 0.6rem;  
    --px08: 0.8rem;  
    --px10: 1rem;    
    --px12: 1.2rem;  
    --px14: 1.4rem;  
    --px16: 1.6rem;  
    --px18: 1.8rem;  
    --px20: 2rem;    
    --px22: 2.2rem;
    --px25: 2.5rem;
    --px30: 3rem;
    --px35: 3.5rem;
    --px36: 3.6rem;
    --px40: 4rem;
    --px45: 4.5rem;
    --px50: 5rem;
    --px55: 5.5rem;
    --px60: 6rem;
    --px70: 7rem;
    --px80: 8rem;
    --px90: 9rem;
    --px100: 10rem;
    --px136: 13.6rem;
    --px200: 20rem;
    --px254: 25.4rem;
    --px300: 30rem;
    --px400: 40rem;
    --px420: 42rem;
    --px480: 48rem;
    --px500: 50rem;
    --px560: 56rem;
    --px598: 59.8rem;
    --px600: 60rem;
    --px700: 70rem;
    --px750: 75rem;
    --px800: 80rem;

    /* colors */
    --rgb-000: rgb(0, 0, 0);
    --rgb-005: rgb(5, 5, 5);
    --rgb-010: rgb(10, 10, 10);
    --rgb-015: rgb(15, 15, 15);
    --rgb-020: rgb(20, 20, 20);
    --rgb-025: rgb(25, 25, 25);
    --rgb-030: rgb(30, 30, 30);
    --rgb-035: rgb(35, 35, 35);
    --rgb-040: rgb(40, 40, 40);
    --rgb-045: rgb(45, 45, 45);
    --rgb-050: rgb(50, 50, 50);
    --rgb-055: rgb(55, 55, 55);
    --rgb-060: rgb(60, 60, 60);
    --rgb-065: rgb(65, 65, 65);
    --rgb-070: rgb(70, 70, 70);
    --rgb-075: rgb(75, 75, 75);
    --rgb-080: rgb(80, 80, 80);
    --rgb-085: rgb(85, 85, 85);
    --rgb-090: rgb(90, 90, 90);
    --rgb-095: rgb(95, 95, 95);
    --rgb-100: rgb(100, 100, 100);
    --rgb-105: rgb(105, 105, 105);
    --rgb-110: rgb(110, 110, 110);
    --rgb-115: rgb(115, 115, 115);
    --rgb-120: rgb(120, 120, 120);
    --rgb-125: rgb(125, 125, 125);
    --rgb-130: rgb(130, 130, 130);
    --rgb-135: rgb(135, 135, 135);
    --rgb-140: rgb(140, 140, 140);
    --rgb-145: rgb(145, 145, 145);
    --rgb-150: rgb(150, 150, 150);
    --rgb-155: rgb(155, 155, 155);
    --rgb-160: rgb(160, 160, 160);
    --rgb-165: rgb(165, 165, 165);
    --rgb-170: rgb(170, 170, 170);
    --rgb-175: rgb(175, 175, 175);
    --rgb-180: rgb(180, 180, 180);
    --rgb-185: rgb(185, 185, 185);
    --rgb-190: rgb(190, 190, 190);
    --rgb-195: rgb(195, 195, 195);
    --rgb-200: rgb(200, 200, 200);
    --rgb-205: rgb(205, 205, 205);
    --rgb-210: rgb(210, 210, 210);
    --rgb-215: rgb(215, 215, 215);
    --rgb-220: rgb(220, 220, 220);
    --rgb-225: rgb(225, 225, 225);
    --rgb-230: rgb(230, 230, 230);
    --rgb-235: rgb(235, 235, 235);
    --rgb-240: rgb(240, 240, 240);
    --rgb-245: rgb(245, 245, 245);
    --rgb-250: rgb(250, 250, 250);
    --rgb-255: rgb(255, 255, 255);

    /* work-in-progress border */
    --wip-border: 1px solid var(--rgb-255);
    --wip-border-color: 0;
    --wip-border-radius: /*0.8rem*/none;

    /* font */
    --font: "Crimson Text";
    --font-color: var(--rgb-240);

    --header-and-footer-color: var(--rgb-025);
    --header-and-footer-height: var(--px100);

    --hover-color: var(--rgb-140);
 
    --margin-default: var(--px60);
    --padding-nav: var(--px005);
    --padding-text: var(--px20);

    --scrollbar-width: var(--px12);

    --bg-standard: var(--rgb-025);

    --table-width: var(--px500);
    --table-border: 1px solid var(--rgb-045);
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--font-color);
}

html {
    font-size: var(--body-font-size);
}

body {
    background-image: url("/media/bg/berserk.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

body,
html {
    width: 100%;
    background-color: var(--bg-standard);
    margin: 0;
    padding: 0;
}

header {
    width: 100%; 
    height: var(--header-and-footer-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky !important;
    top: 0 !important;
    z-index: 3;
    border-bottom: var(--px04) solid var(--header-and-footer-color);
    background-color: var(--header-and-footer-color);
}

footer {
    display: flex;
    flex-direction: row;
    height: var(--header-and-footer-height);
    width: 100%;
    border-top: var(--px04) solid var(--header-and-footer-color);
    background-color: var(--header-and-footer-color);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

p {
    font-size: var(--px12);
    padding: 0;
    margin: 0;
}

@media (max-width: 1920px) {
    :root {
        --body-font-size: 10px;
        --header-and-footer-height: 100px;
        --padding-nav: var(--px40);
    }
}

@media (max-width: 1680px) {
    :root {
        --body-font-size: 9.38px;
        --header-and-footer-height: 90px;
    }
}

@media (max-width: 1600px) {
    :root {
        --body-font-size: 8.77px;
        --header-and-footer-height: 80px;
        --padding-nav: var(--px35);
    }
}

@media (max-width: 1440px) {
    :root {
        --body-font-size: 8.16px;
        --header-and-footer-height: 70px;
    }
}

@media (max-width: 1366px) {
    :root {
        --body-font-size: 7.55px;
        --header-and-footer-height: 60px;
        --padding-nav: var(--px30);
    }
}

@media (max-width: 1280px) {
    :root {
        --body-font-size: 6.94px;
        --header-and-footer-height: 55px;
    }
}

@media (max-width: 1024px) {
    :root {
        --body-font-size: 6.33px;
        --header-and-footer-height: 50px;
        --padding-nav: var(--px25);
    }
}

@media (max-width: 800px) {
    :root {
        --body-font-size: 5.72px;
        --padding-nav: var(--px20);
    }
}

@media (max-width: 640px) {
    :root {
        --body-font-size: 5.11px;
    }
}

@media (max-width: 380px) {
    :root {
        --body-font-size: 4.5px;
        --padding-nav: var(--px15);
    }
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
    background-color: var(--rgb-200);
    border-radius: var(--wip-border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--rgb-220);
}

::-webkit-scrollbar-track {
    background-color: var(--header-and-footer-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

nav ul {
    height: fit-content;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: fit-content;
    width: fit-content;
    padding: 0 var(--padding-nav) 0 0;
}

nav Button {
    transition: all 0.2s;
    width: var(--px36);
    height: var(--px36);
    background-color: var(--header-and-footer-color);
    border: 0;
    padding: var(--px06);
    z-index: 100;
}

#stripeBox {
    transition: all 0.4s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.stripes {
    transition: all 0.2s;
    background-color: var(--font-color);
    border-radius: var(--wip-border-radius);
    width: 20%;
    height: 100%;
}

nav a {
    width: fit-content;
    height: fit-content;
    padding: 0 var(--px10);
    transition: all 0.4s;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--rgb-180);
}

nav Button:hover {
    cursor: pointer;
    background-color: none;
}

#socials {
    display: flex;
    flex-direction: row;
}

.socials-list {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.socials-list-item {
    margin: 0 0 0 calc(var(--margin-default) / 2);
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--px35);
    height: var(--px35);
    transition: all 0.2s;
}

.socials-img {
    width: 3.5rem;
    height: 3.5rem;
}

.socials-link:hover {
    transform: scale(1.1);
}

main {
    display: flex;
    flex-direction: column;
    margin: calc(var(--margin-default) / 2) 0;
    z-index: 1;
}

section {
    display: flex;
    flex-direction: row;
    transition: all 0.2s;
    height: fit-content;
    margin: calc(var(--margin-default) / 2) var(--margin-default);
    border: var(--wip-border);
    border-radius: var(--wip-border-radius);
    background-color: var(--bg-standard);
}

.ctfc-heading {
    text-align: left;
    font-size: var(--px30);
    margin: var(--px10) var(--px10);
    font-weight: normal;
}

.heading {
    display: block;
    border: var(--wip-border);
    border-radius: var(--wip-border-radius);
    background-color: var(--bg-standard);
    padding: var(--padding-text);
    margin: var(--margin-default) var(--margin-default) calc(var(--margin-default) / 2);
    text-align: left;
}

.ptext {
    margin: var(--margin-default);
    padding: 1em;
    font-size: 1.8em;
    border: var(--wip-border);
    border-radius: var(--wip-border-radius);
    background-color: var(--bg-standard);
}

.name {
    font-size: 20em;
}

.hello-msg {
    font-size: 2vw;
}

h1 {
    margin: 0; 
    font-size: 10em;
    color: var(--font-color);
    font-weight: normal;
    white-space: nowrap;
}

h2 {
    margin: 0;
    font-family: var(--font);
    font-size: 4em;
    color: var(--rgb-210);
    font-weight: normal;
}

h3 {
    font-style: italic;
    margin: 0;
    font-family: var(--font);
    font-size: 2em;
    color: var(--rgb-210);
    font-weight: normal;
}

h4 {
    margin: 0;
    font-family: var(--font);
    font-size: var(--px50);
    color: var(--font-color);
    font-weight: normal;
    padding: 5px 0;
}

h5 {
    margin: 0;
    font-family: var(--font);
    font-size: var(--px40);
    color: var(--font-color);
    font-weight: normal;
    padding: 4% 0 0 5px;
}

.left {
    color: var(--font-color);
    font-family: var(--font);
    /*font-size: calc(var(--px18) / 1.2);*/
    margin: 0 0 0 var(--margin-default);
    text-align: left;
}

.right {
    color: var(--font-color);
    font-family: var(--font);
    /*font-size: calc(var(--px18) / 1.2);*/
    margin: 0 var(--margin-default) 0 0;
    text-align: right;
}

.table {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    margin: calc(var(--margin-default) / 2) var(--margin-default) var(--margin-default);
    white-space: nowrap;
}

.col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
}

.col-1-timeline {
    justify-content: flex-start;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row-1-timeline,
.row-2-timeline,
.row-3-timeline {
    border: none;
}

.row-1-timeline {
    width: 60%;
}

.th {
    width: 100%;
    font-size: var(--px50);
    border: var(--table-border);
    border-radius: 1rem 1rem 0 0;
    padding: 5px;
}

.td-head {
    width: 100%;
    font-size: var(--px30);
    border: var(--table-border);
    padding: 5px;
}

.td {
    width: 100%;
    font-size: var(--px18);
    border: var(--table-border);
    padding: 5px;
}

.td-bl {
    border-radius: 0 0 0 1rem;
}

.td-br {
    border-radius: 0 0 1rem;
}

.certificate-box {
    display: flex;
    flex-direction: column;
    margin: calc(var(--margin-default) /2) var(--margin-default) var(--margin-default);
    padding: var(--padding-text);
    width: fit-content;
    height: fit-content;
    border: var(--wip-border);
    border-radius: var(--wip-border-radius);
}

.certificate-heading {
    font-size: var(--px20);
}

.certificate-list {
    font-size: var(--px16);
    padding: 1rem 1rem 1rem 2rem;
    margin: 0;
}

#js-png {
    width: var(--px40);
    border-radius: 1000px;
    transition: all 0.2s;
}

#progress-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    width: fit-content;
    height: fit-content;
    margin: var(--margin-default);
    padding: calc(var(--margin-default) / 2);
    border: var(--wip-border);
    border-radius: var(--wip-border-radius);
}

.legend-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-standard);
    width: var(--px420);
    height: fit-content;
    padding: var(--px10);
}

.legend-text-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.legend-text {
    text-align: center;
}

.legend-stripe {
    display: flex;
    width: 100%;
    height: var(--px04);
    margin: var(--px10);
}

.language {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.progress-bar {
    display: flex;
    align-items: center;
    background-color: var(--rgb-080);
    width: var(--px400);
    height: var(--px20);
    margin: var(--px10);
    border-radius: var(--wip-border-radius);
}

.progress-label { 
    padding: var(--px04);
    font-size: var(--px20);
}

.progress-value {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: var(--px16);
    background-color: var(--rgb-070);
    /*border-radius: 1rem 0 0 1rem;*/
    z-index: 0;
}

.beginner,
.intermediate,
.advanced,
.expert {
    width: 25%;
    height: 100%;
}

.beginner {
    background-color: rgb(225, 228, 92);
}

.intermediate {
    background-color: rgb(92, 228, 133);
}

.advanced {
    background-color: rgb(92, 106, 228);
}

.expert {
    background-color: rgb(228, 92, 92);
    /*border-radius:0 1rem 1rem 0;*/
}

#python,
#java,
#html,
#css,
#javaScript {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--rgb-040);
}

#mail-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: var(--wip-border);
    border-radius: 1rem;
    padding: var(--px40);
    margin:  var(--px100);
}

.mail-req {
    width: 25%;
    border: var(--wip-border);
    border-radius: var(--wip-border-radius);
    font-size: var(--px16);
    color: black;
    padding: var(--px06);
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

form label {
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: var(--px04) 0;
    font-size: var(--px20);
}

form input {
    font-size: var(--px18);
}

textarea {
    width: 100%;
    border: var(--wip-border);
    border-radius: var(--wip-border-radius);
    font-size: var(--px16);
    color: black;
    padding: var(--px06);
}

#mail-submit {
    background-color: var(--bg-standard);
    border: var(--wip-border);
    border-radius: 1rem;
    margin: var(--px20) 0 0 0;
}

.home {
    transform: translateX(calc(var(--margin-default) - var(--px136)));
    transition: all 0.4s;
    opacity: 0;
}

.aboutMe {
    transform: translateX(calc(var(--margin-default) - var(--px254)));
    transition: all 0.4s;
    opacity: 0;
}

.mySkills {
    transform: translateX(calc(var(--margin-default) - var(--px420)));
    transition: all 0.4s;
    opacity: 0;
}

.contact {
    transform: translateX(calc(var(--margin-default) - var(--px598)));
    transition: all 0.4s;
    opacity: 0;
}

.navbar-item {
    font-size: 2.7rem;
}

.navbar-item:hover {
    transition: all 0.2s;
    text-decoration: underline;
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        wip-border-color: transparent;
    }
}

#player {

    --player-width: 50px;
    --player-height: 50px;

    width: var(--player-width);
    height: var(--player-height);

    background-color: rgb(69, 185, 114);
    border-radius: 100px;

    position: absolute;
    top: calc(calc(100vh / 2) - calc(var(--player-height) / 2));
    left: calc(calc(100vw / 2) - calc(var(--player-width) / 2));

    z-index: 5;

}