@import url("https://fonts.googleapis.com/css?family=Press Start 2P");
@import url("https://fonts.googleapis.com/css?family=JetBrains%20Mono");

:root {
    --font-color: rgb(255, 255, 255);
    --background: rgb(20, 20, 20);
    --header-footer-color: rgb(30, 30, 30);
    --header-footer-height: 100px;
    --border-color: rgb(50, 50, 50);
    --hover-color: rgb(180, 180, 180);
    --ps2p: "Press Start 2P", sans-serif;
    --navbar-font-size: 20px;
    --border-radius: 0px;
    --base-margin: 60px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    overflow-x: hidden;
    overflow-y: auto;
}

.header-box {
    height: var(--header-footer-height);
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 4px solid var(--border-color);
    background-color: var(--header-footer-color);
}

nav {
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin-left: var(--base-margin);
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-brand {
    margin-left: 0px;
}

.hover-link {
    color: var(--font-color);
    transition: all 0.2s;
}

.hover-link:hover {
    color: rgb(170, 170, 170);
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-item {
    height: var(--navbar-font-size);
    margin-left: 50px;
}

.nav-link,
.navbar-brand {
    text-decoration: none;
    font-family: var(--ps2p);
    font-size: var(--navbar-font-size);
    word-spacing: -8px;
    color: var(--font-color);
}

.pb-link {
    width: 45px;
    height: 45px;
    position: absolute;
    right: var(--base-margin);
    border-radius: var(--border-radius);
    justify-self: center;
}

.profile-picture {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    position: absolute;
    transition: all 0.2s;
}

.profile-picture:hover {
    transform: scale(1.1);
}

.home-box {
    display: grid;
    height: 500px;
    margin: var(--base-margin);
    border: 1px solid rgb(50, 50, 50);
    border-radius: var(--border-radius);
}

.name-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 50px;
    width: fit-content;
    height: fit-content;
    border: 1px solid red;
    border-radius: var(--border-radius);
}

.h1 {
    margin: 0px;
    font-family: var(--ps2p);
    font-size: 3.6vw;
    color: var(--font-color);

}

.h2 {
    font-family: var(--ps2p);
    font-size: 0.8vw;
    color: var(--font-color);
}

.about-me-box {
    display: grid;
    align-self: center;
    justify-content: center;
    height: 800px;
    margin: var(--base-margin);
    border: 1px solid rgb(50, 50, 50);
    border-radius: var(--border-radius);
}

.mando-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: fit-content;
    height: fit-content;
    border: 1px solid red;
    border-radius: var(--border-radius);
}

.mando {
    align-self: center;
    width: 20%;
    height: 20%;
}

.nothing {
    place-self: center;
    font-size: 1vw;
    font-family: var(--ps2p);
    color: rgb(255, 255, 255);
}

/*
.my-skills-box {
    display: grid;
    grid-template-columns: repeat(5, 21fr);
    grid-template-rows: auto;
    align-self: center;
    justify-content: center;
    height: 1000px;
    margin: var(--base-margin);
    border: 1px solid rgb(50, 50, 50);
    border-radius: var(--border-radius);
}
*/
/*
.skills-table {
    width: 200%;
    height: fit-content;
    grid-row: 1 / 5; /* 1. Position | 2. Anzahl *//*
    grid-column: 4 / 4;
}

.table-head {
    text-align: left;
    font-size: 30px;
    padding: 30px 10px;
    font-weight: normal;
}

td {
    font-size: 12px;
    padding: 10px 10px;
}

.python,
.java,
.html,
.css,
.js {
    width: 12px;
}

.python-bar,
.java-bar,
.html-bar,
.css-bar,
.js-bar {
    align-self: center;
    height: 10px;
    border-radius: 10px;
    background-color: yellow;
}

.python-bar {
    width: 32%;
}

.java-bar {
    width: 16%;
}

.html-bar {
    width: 26%;
}

.css-bar {
    width: 24%;
}

.js-bar {
    width: 20%;
}

.python-bar-box,
.java-bar-box,
.html-bar-box,
.css-bar-box,
.js-bar-box {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
*/
p {
    font-family: var(--ps2p);
    color: var(--font-color);
}

li {
    list-style-type: none;
}

/*
.navigattion {
    width: fit-content;
    height: fit-content;
    font-family: var(--ps2p);
    font-size: 22px;
    border-radius: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 18px; /* Abstand zwischen home und about me *//*
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: var(--header-footer-color);
}

.navButton {
    height: fit-content;
    width: fit-content;
    font-weight: lighter;
    display: inline-block;
    margin-right: 2vw; /* 36px *//*
}
*/

.footer-box {
    height: var(--header-footer-height);
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 4px solid var(--border-color);
    background-color: var(--header-footer-color);
    align-content: center;
}

.japanese {
    font-size: 14px !important;
}

.japanese,
.copyright {
    color: rgb(255, 255, 255);
    font-family: var(--ps2p);
    font-size: 10px;
    text-align: left;
    position: relative;
    align-self: self-start;
    margin-left: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.made-with,
.version {
    color: rgb(255, 255, 255);
    font-family: var(--ps2p);
    font-size: 10px;
    white-space: nowrap;
    text-align: right;
    position: relative;
    align-self: self-end;
    margin-right: 60px;
    margin-bottom: 0;
}

.version,
.copyright {
    margin-top: 6px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-track {
    background-color: var(--border-color);
}

::-webkit-scrollbar-button {
    background-color: rgb(60, 60, 60);
}

::-webkit-scrollbar-corner {
    background-color: rgb(60, 60, 60);
}
