@import url("https://fonts.googleapis.com/css?family=Press Start 2P");
@import url("https://fonts.googleapis.com/css?family=JetBrains%20Mono");

:root {
    --html-font-size: 1px;

    --px600: 60rem;
    --px500: 50rem;
    --px400: 40rem;
    --px300: 30rem;
    --px200: 20rem;
    --px100: 10rem;
    --px60: 6rem;
    --px50: 5rem;
    --px40: 4rem;
    --px30: 3rem;
    --px25: 2.5rem;
    --px20: 2rem;
    --px18: 1.8rem;
    --px16: 1.6rem;
    --px14: 1.4rem;
    --px12: 1.2rem;
    --px10: 1rem;
    --px08: 0.8rem;
    --px06: 0.6rem;
    --px02: 0.2rem;
    --px005: 0.05rem;

    --border-color: rgb(50, 50, 50); /* Default: 50 */
    --border-radius: 0;

    --font-color: rgb(240, 240, 240);
    --font-ps2p: "Press Start 2P", sans-serif;

    --header-footer-color: rgb(30, 30, 30);
    --header-footer-height: var(--px100);

    --hover-color: rgb(180, 180, 180);
 
    --margin-default: var(--px60);
    --margin-half: calc(var(--margin-default) / 2);
    --margin-nav: var(--px40);
    
    --scrollbar-width: 12px;

    --bg-standard: rgb(20, 20, 20); /* Default: 20 */
}

html {
    font-size: var(--html-font-size);
    transition: all 0.1s;
}

@media (max-width: 1920px) {
    :root {
        --html-font-size: 10px;
        --header-footer-height: 100px;
    }
}

@media (max-width: 1680px) {
    :root {
        --html-font-size: 9.5px;
        --header-footer-height: 90px;
    }
}

@media (max-width: 1600px) {
    :root {
        --html-font-size: 9px;
        --header-footer-height: 80px;
    }
}

@media (max-width: 1440px) {
    :root {
        --html-font-size: 8.5px;
        --header-footer-height: 70px;
    }
}

@media (max-width: 1366px) {
    :root {
        --html-font-size: 8px;
        --header-footer-height: 60px;
    }
}

@media (max-width: 1280px) {
    :root {
        --html-font-size: 7.5px;
    }
}

@media (max-width: 1024px) {
    :root {
        --html-font-size: 7px;
    }
}

@media (max-width: 800px) {
    :root {
        --html-font-size: 6.5px;
    }
}

@media (max-width: 640px) {
    :root {
        --html-font-size: 6px;
    }
}

@media (max-width: 390px) {
    :root {
        --html-font-size: 5.5px;
    }
}

@media (min-width: 370px) {
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-wrap: nowrap;
    }
}

a {
    text-decoration: none;
    color: var(--font-color);
    transition: all 0.2s;
}

a:hover {
    color: rgb(170, 170, 170);
}


p,
td,
th {
    font-weight: normal;
    font-family: var(--font-ps2p);
    color: var(--font-color);
}

td {
    font-size: var(--px12);
    padding: var(--px02) var(--px02);
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-standard);
    overflow-x: auto;
    overflow-y: auto;
}

.header-box {
    height: var(--header-footer-height);
    width: calc(100vw - var(--scrollbar-width)); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 4px solid var(--border-color);
    background-color: var(--header-footer-color);
}

nav {
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin: 0 0 0 var(--margin-default);
}

.navbar {
    width: calc(100vw - var(--scrollbar-width) - var(--margin-default));
    display: flex;
    flex-direction: row;
}

.navbar-brand {
    word-spacing: -6px;
    margin: 0px 0px 0px 0px;
}

.hover-link {
    color: var(--font-color);
    transition: all 0.2s;
    padding: 0 0 0 0;
}

.hover-link:hover {
    color: rgb(170, 170, 170);
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-item {
    word-spacing: -4px;
    height: fit-content;
    margin: 0 0 0 var(--px40);
}

.nav-link,
.nav-item,
.navbar-brand {
    text-decoration: none;
    font-family: var(--font-ps2p);
    font-size: calc(var(--px30) / 1.5);
    color: var(--font-color);
}

.pb-link {
    width: var(--px40);
    height: var(--px40);
    position: absolute;
    right: var(--margin-default);
    border-radius: 0;
}

.profile-picture {
    width: var(--px40);
    height: var(--px40);
    border-radius: 0;
    position: absolute;
    transition: all 0.2s;
}

.profile-picture:hover {
    transform: scale(1.1);
}

main {
    background-color: var(--bg-standard);
    display: flex;
    flex-direction: column;
}

.home-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: var(--px600);
    margin: calc(var(--margin-default) / 2) var(--margin-default);
    /*border: 1px solid var(--border-color);
    border-radius: var(--border-radius);*/
}

.name-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    margin: 50px;
    width: fit-content;
    height: fit-content;
    /*border: 1px solid var(--border-color);
    border-radius: var(--border-radius);*/
}

.h1 {
    margin: 0;
    font-family: var(--font-ps2p);
    font-size: var(--px50);
    color: var(--font-color);

}

.h2 {
    font-family: var(--font-ps2p);
    font-size: var(--px20);
    color: var(--font-color);
}

.about-me-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: var(--px600);
    margin: calc(var(--margin-default) / 2) var(--margin-default);
    /*border: 1px solid var(--border-color);
    border-radius: var(--border-radius);*/
}

.mando-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: fit-content;
    height: fit-content;
    /*border: 1px solid var(--border-color);
    border-radius: var(--border-radius);*/
}

.mando {
    align-self: center;
    width: var(--px200);
    height: var(--px200);
}

.nothing {
    text-align: center;
    font-size: var(--px10);
    font-family: var(--font-ps2p);
    color: var(--font-color);
    margin: var(--px10) 0 0 0 !important;
}

.my-skills-box {
    margin: var(--margin-half) var(--margin-default);
    height: var(--px600);
    /*border: 1px solid var(--border-color);*/
    display: flex; /*grid;*/
    flex-direction: column;
    align-self: center;/*
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: max-content;*/
}

.my-skills-head {
    text-align: center;
    padding: var(--px30) var(--px10);
    margin: 0 0 0 0;
    height: fit-content;
    font-family: var(--font-ps2p);
    font-size: var(--px50);
    color: var(--font-color);
    grid-column: 3 / 5;
}

.skills-table {
    border-color: var(--bg-standard);
    width: var(--px500);
    height: fit-content;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.skills-table-head {
    text-align: left;
    font-size: var(--px30);
    padding: var(--px30) var(--px10);
    font-weight: normal;
}

.lang {
    padding: 0 0 0 0; /*10px;*/
    font-size: var(--px14);
    width: var(--px02);
}

.prog {
    width: var(--px300);
}

.progress {
    background-color: var(--border-color);
    font-size: var(--px14);
    margin: 0 0 0 0;
    width: 100%;
}

.progress-bar {
    background-color: green;
    align-items: center;
}

td {
    text-align: left;
    height: var(--px25);
}  

.footer-box {
    height: var(--header-footer-height);
    width: calc(100vw - var(--scrollbar-width));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 4px solid var(--border-color);
    background-color: var(--header-footer-color);
    align-content: center;
}

.japanese,
.copyright {
    color: var(--font-color);
    font-family: var(--font-ps2p);
    font-size: calc(var(--px10) / 1.2);
    text-align: left;
    position: relative;
    align-self: center;
    margin: 0 0 0 var(--margin-default) !important;
    transition: all 0.2s;
}

.japanese {
    font-size: var(--px14);
    padding: 0 0 var(--px06) 0;
}

.made-with,
.version {
    color: var(--font-color);
    font-family: var(--font-ps2p);
    font-size: calc(var(--px10) / 1.2);
    text-align: right;
    align-self: center;
    margin: 0 var(--margin-default) 0 0 !important;
    transition: all 0.2s;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-track {
    background-color: var(--border-color);
}

::-webkit-scrollbar-button {
    background-color: rgb(60, 60, 60);
}

::-webkit-scrollbar-corner {
    background-color: rgb(60, 60, 60);
}