@import url("https://fonts.googleapis.com/css?family=Press Start 2P");
@import url("https://fonts.googleapis.com/css?family=JetBrains%20Mono");

:root {
    --html-font-size: 10px;

    --px800: 80rem;
    --px750: 75rem;
    --px700: 70rem;
    --px600: 60rem;
    --px560: 56rem;
    --px500: 50rem;
    --px480: 48rem;
    --px400: 40rem;
    --px300: 30rem;
    --px200: 20rem;
    --px100: 10rem;
    --px90: 9rem;
    --px80: 8rem;
    --px70: 7rem;
    --px60: 6rem;
    --px55: 5.5rem;
    --px50: 5rem;
    --px45: 4.5rem;
    --px40: 4rem;
    --px35: 3.5rem;
    --px30: 3rem;
    --px25: 2.5rem;
    --px20: 2rem;
    --px18: 1.8rem;
    --px16: 1.6rem;
    --px14: 1.4rem;
    --px12: 1.2rem;
    --px10: 1rem;
    --px08: 0.8rem;
    --px06: 0.6rem;
    --px04: 0.4rem;
    --px02: 0.2rem;
    --px005: 0.05rem;
    
    --pure-white: rgb(255, 255, 255);
    --almost-white: rgb(240, 240, 240);
    --yes-another-white: rgb(210, 210, 210);
    --dark-white: rgb(180, 180, 180);
    --light--gray: rgb(140, 140, 140);
    --gray: rgb(100, 100, 100);
    --dark-gray: rgb(80, 80, 80);
    --stone-gray: rgb(50, 50, 50);
    --coal-black: rgb(30, 30, 30);
    --almost-black: rgb(20, 20, 20);

    --border-color: var(--stone-gray); /* Default: 50 */
    --border-radius: 0;

    --font-color: var(--almost-white);
    --font-ps2p: "Press Start 2P", sans-serif;

    --header-footer-color: var(--coal-black);
    --header-footer-height: var(--px100);

    --hover-color: var(--light-gray);
 
    --margin-default: var(--px60);
    --margin-half: calc(var(--margin-default) / 2);
    --margin-nav: var(--px60);
    
    --text-padding: var(--px20);

    --scrollbar-width: var(--px12);

    --bg-standard: var(--almost-black); /* Default: 20 */
}

html {
    background-color: var(--header-footer-color);
    scroll-behavior: smooth !important;
    font-size: var(--html-font-size);
    word-spacing: calc(1px - 5px);
    transition: all 0.2s !important;
}

section {
    display: flex;
}

.header-box {
    height: var(--header-footer-height);
    width: calc(100vw - var(--scrollbar-width)); 
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: var(--px04) solid var(--border-color);
    background-color: var(--header-footer-color);
}

.footer-box {
    height: var(--header-footer-height);
    width: calc(100vw - var(--scrollbar-width));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: var(--px04) solid var(--border-color);
    background-color: var(--header-footer-color);
    align-content: center;
}

p {
    padding: 0;
    margin: 0;
    white-space: normal;
}

::-webkit-scrollbar {
    height: 100vh;
    width: var(--scrollbar-width);
}
::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
    border-radius: var(--border-radius);
}
::-webkit-scrollbar-track {
    height: 100vh;
    width: calc(var(--scrollbar-width) - var(--px10));
    background-color: var(--stone-gray);
}
::-webkit-scrollbar-button {
    background-color: var(--gray);
}
::-webkit-scrollbar-corner {
    background-color: var(--bg-standard);
}

@media (max-width: 1920px) {
    :root {
        --html-font-size: 10px;
        --header-footer-height: 100px;
        --margin-nav: var(--px60);
    }
}

@media (max-width: 1680px) {
    :root {
        --html-font-size: 9.5px;
        --header-footer-height: 90px;
    }
}

@media (max-width: 1600px) {
    :root {
        --html-font-size: 9px;
        --header-footer-height: 80px;
        --margin-nav: var(--px55);
    }
}

@media (max-width: 1440px) {
    :root {
        --html-font-size: 8.5px;
        --header-footer-height: 70px;
    }
}

@media (max-width: 1366px) {
    :root {
        --html-font-size: 8px;
        --header-footer-height: 60px;
        --margin-nav: var(--px50);
    }
}

@media (max-width: 1280px) {
    :root {
        --html-font-size: 7.5px;
    }
}

@media (max-width: 1024px) {
    :root {
        --html-font-size: 7px;
        --margin-nav: var(--px45);
    }
}

@media (max-width: 800px) {
    :root {
        --html-font-size: 6.5px;
        --margin-nav: var(--px40);
    }
    .header-box {
        width: 100vw;
    }
    .footer-box {
        width: 100vw;
    }
}

@media (max-width: 640px) {
    :root {
        --html-font-size: 6px;
    }
    .header-box {
        width: 100vw;
    }
    .footer-box {
        width: 100vw;
    }
}

@media (max-width: 390px) {
    :root {
        --html-font-size: 5.5px;
        --margin-nav: var(--px35);
    }
    .header-box {
        width: 100vw;
    }
    .footer-box {
        width: 100vw;
    }
}

@media (min-width: 370px) {
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-wrap: nowrap;
    }
}

a {
    text-decoration: none;
    color: var(--font-color);
    transition: all 0.2s;
}

a:hover {
    color: rgb(170, 170, 170);
}


p,
td,
th {
    font-weight: normal;
    font-family: var(--font-ps2p);
    color: var(--font-color);
}

td {
    font-size: var(--px12);
    padding: var(--px02) var(--px02);
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--header-footer-color);
    overflow-x: auto;
    overflow-y: auto;
}

nav {
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin: 0 0 0 var(--margin-default);
    width: calc(100vw - var(--scrollbar-width) - var(--margin-default));
    display: flex;
    flex-direction: row;
}

nav ul {
    height: fit-content;
    list-style-type: none;
    display: flex;
    margin: 0 0;
    padding: 0 0;
}

nav li {
    height: fit-content;
    padding: 0 var(--margin-nav) 0 0;
}

nav a {
    text-decoration: none;
    color: var(--font-color);
    transition: all 0.2s;
    font-family: var(--font-ps2p);
    font-size: calc(var(--px30) / 1.4);
    color: var(--font-color);
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-item {
    height: fit-content;
    margin: 0 0 0 var(--px40);
}

.nav-link,
.nav-item,
.navbar-brandon {
    text-decoration: none;
    font-family: var(--font-ps2p);
    font-size: calc(var(--px30) / 1.5);
    color: var(--font-color);
}

.github-link {
    width: var(--px35);
    height: var(--px35);
    margin: 0 var(--margin-default) 0 var(--text-padding);
}

.gitlab-link {
    width: var(--px35);
    height: var(--px35);
    margin: 0 var(--text-padding);
}

.gitlab-png,
.github-png {
    width: var(--px35);
    height: var(--px35);
    transition: all 0.2s;
    justify-self: center;
}

.outlook-png:hover,
.gitlab-png:hover,
.github-png:hover {
    transform: scale(1.1);
}

main {
    background-color: var(--bg-standard);
    display: flex;
    flex-direction: column;
}

.home {
    display: grid;
}

.home-box,
.about-me-box,
.my-skills-box {
    transition: all 0.2s;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: var(--px750);
    margin: var(--margin-default) var(--margin-default) 0 var(--margin-default);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.my-skills-box {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.skills-table {
    border-color: var(--bg-standard);
    width: var(--px700);
    height: fit-content;
    margin: 0;
}

.skills-table-head,
.certificates-heading {
    text-align: left;
    font-size: var(--px30);
    padding: var(--px30) var(--px10);
    font-weight: normal;
}

.home-heading,
.about-me-heading,
.my-skills-heading {
    display: block;
    text-align: left;
    margin: var(--margin-default);
    padding: var(--text-padding);
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.mando-box,
.skills-table-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: var(--margin-default);
    padding: var(--text-padding);
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.mando-box:nth-child(2),
.skills-table-box:nth-child(2) {
    grid-row: span 2;
    grid-column: 2;
}

.test,
.certificate-box {
    display: block;
    text-align: left;
    align-self: self-start;
    justify-self: center;
    margin: var(--margin-default);
    padding: var(--text-padding);
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.certificate-box ul {
    list-style-type: square;
}

.certificate-box li {
    color: var(--font-color);
}

.python-certificate,
.html-certificate {
    font-family: var(--font-ps2p);
    color: var(--font-color);
}

.lorem-ipsum {
    font-size: var(--px10);
    margin: 0;
}

.mando {
    /* 560 x 480 */
    align-self: center;
    width: calc(var(--px560) / 1.5);
    height: calc(var(--px480) / 1.5);
}

.h1 {
    margin: 0;
    font-family: var(--font-ps2p);
    font-size: var(--px80);
    color: var(--font-color);

}

.h2 {
    font-style: italic;
    margin: 0;
    font-family: var(--font-ps2p);
    font-size: var(--px18);
    color: var(--yes-another-white);
}

.h3 {
    font-style: italic;
    margin: 0;
    font-family: var(--font-ps2p);
    font-size: var(--px10);
    color: var(--light--gray);
}

.h4 {
    margin: 0;
    font-family: var(--font-ps2p);
    font-size: var(--px60);
    color: var(--font-color);

}

.nothing {
    text-align: center;
    font-size: var(--px10);
    font-family: var(--font-ps2p);
    color: var(--font-color);
    margin: var(--px10) 0 0 0 !important;
}

.lang {
    padding: 0 0 0 0;
    font-size: var(--px14);
    width: var(--px02);
}

.prog {
    width: var(--px300);
}

.progress {
    background-color: var(--border-color);
    font-size: var(--px14);
    margin: 0 0 0 0;
    width: 100%;
    height: fit-content;
}

.progress-bar {
    background-color: rgb(150, 150, 150);
    align-items: center;
}

.progress-bar {
    padding: var(--px04) 0 0 0;
}

td {
    text-align: left;
    height: var(--px25);
}  

.japanese,
.copyright {
    color: var(--font-color);
    font-family: var(--font-ps2p);
    font-size: calc(var(--px14) / 1.2);
    text-align: left;
    position: relative;
    align-self: center;
    margin: 0 0 0 var(--margin-default) !important;
    transition: all 0.2s;
}

.japanese {
    font-size: var(--px18);
    padding: 0 0 var(--px06) 0;
}

.made-with,
.version {
    color: var(--font-color);
    font-family: var(--font-ps2p);
    font-size: calc(var(--px14) / 1.2);
    text-align: right;
    align-self: center;
    margin: 0 var(--margin-default) 0 0 !important;
    transition: all 0.2s;
}

.animated-text {
    animation: fadeIn 0.4s ease-in;
}