@import "tailwindcss";

@font-face {
	font-family: "Plus Jakarta Sans";
	src: url(./assets/fonts/PlusJakartaSans.ttf);
}

@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter.ttf);
}

@font-face {
	font-family: "JetBrains Mono";
	src: url(./assets/fonts/JetBrainsMono.ttf);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--text-root: 16px;
	--text-label: 0.75rem;

	--font-sans: "Plus Jakarta Sans";
	--font-serif: "Inter";
	--font-mono: "JetBrains Mono";

	--mask-overflow-top: linear-gradient(to bottom, black 15%, transparent 100%);
	--mask-overflow-bottom: linear-gradient(to top, black 15%, transparent 100%);

	--width-border: 1px;

	--bezier-default: cubic-bezier(0.23, 1, 0.32, 1);
	--duration-default: 0.4s;
}

@layer base {
	* {
		font-family: var(--font-sans);
		transition: all var(--duration-default) var(--bezier-default);
		min-width: max-content;
	}
}
