@import "tailwindcss";

@font-face {
    font-family: "Geist";
    src: url("./assets/fonts/Geist/Geist-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Geist Mono";
    src: url("./assets/fonts/Geist_Mono/GeistMono-VariableFont_wght.ttf");
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --text-root: 16px;
    --font-sans: "Geist";
    --font-mono: "Geist Mono" !important;
    --width-border: 2px;

    --primary: var(--color-blue-400);
    --primary-darken: color-mix(in oklab, var(--primary) 20%, var(--color-neutral-700));
    --primary-accent: color-mix(in oklab, var(--primary) 50%, black);
}

@layer base {
    * {
        font-family: var(--font-sans);
        transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
        line-height: var(--leading-normal);
    }
}
