/* Playfair Display */
@font-face {
    src: url(../fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf);
    font-family: "Playfair Display";
}

/* Gilroy */
@font-face {
    src: url(../fonts/Gilroy/Gilroy-Thin.ttf);
    font-family: "Gilroy";
    font-weight: 100;
}

@font-face {
    src: url(../fonts/Gilroy/Gilroy-UltraLight.ttf);
    font-family: "Gilroy";
    font-weight: 200;
}

@font-face {
    src: url(../fonts/Gilroy/Gilroy-Light.ttf);
    font-family: "Gilroy";
    font-weight: 300;
}

@font-face {
    src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
    font-family: "Gilroy";
    font-weight: 400;
}

@font-face {
    src: url(../fonts/Gilroy/Gilroy-Medium.ttf);
    font-family: "Gilroy";
    font-weight: 500;
}

@font-face {
    src: url(../fonts/Gilroy/Gilroy-SemiBold.ttf);
    font-family: "Gilroy";
    font-weight: 600;
}

@font-face {
    src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
    font-family: "Gilroy";
    font-weight: 700;
}

@font-face {
    src: url(../fonts/Gilroy/Gilroy-ExtraBold.ttf);
    font-family: "Gilroy";
    font-weight: 800;
}

@font-face {
    src: url(../fonts/Gilroy/Gilroy-Black.ttf);
    font-family: "Gilroy";
    font-weight: 900;
}

@font-face {
    src: url(../fonts/Gilroy/Gilroy-Heavy.ttf);
    font-family: "Gilroy";
    font-weight: 1000;
}
