*,
*::before,
*::after {
    font-size: 1rem;

    box-sizing: border-box;
    min-width: max-content;

    transition-timing-function: var(--exp);
    transition-property: all;
    transition-duration: 0.4s;

    scroll-behavior: smooth;
    margin: 0;
}

*:not(head, script, h1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    width: 100vw;
    height: 100vh;
}

:root .dark-mode {
    background: var(--bg-004);

    --ac-hue: var(--red-hue);
    --ac-sat: var(--sat);
    --ac-lig: var(--lig);

    --ac-100: hsla(var(--ac-hue), var(--ac-sat), var(--ac-lig), 1);
    --ac-080: hsla(var(--ac-hue), var(--ac-sat), var(--ac-lig), 0.8);
    --ac-060: hsla(var(--ac-hue), var(--ac-sat), var(--ac-lig), 0.6);
    --ac-040: hsla(var(--ac-hue), var(--ac-sat), var(--ac-lig), 0.4);
    --ac-020: hsla(var(--ac-hue), var(--ac-sat), var(--ac-lig), 0.2);
    --ac-010: hsla(var(--ac-hue), var(--ac-sat), var(--ac-lig), 0.1);
}

h1 {
    font-family: var(--heading);
    font-size: 1.4rem;
    color: var(--bg-020);
}

ion-icon {
    font-size: 2rem;
    color: var(--bg-020);
}

.maintenance {
    flex-direction: row;
    gap: 0.6rem;
    background: var(--ac-020);
    padding: 1.6rem 2rem;
    border: 2px solid var(--ac-060);
    border-radius: var(--radius);
}

.maintenance-icon {
    color: var(--ac-100);
}

.maintenance-text {
    line-height: 1;
    text-transform: uppercase;
    color: var(--ac-100);
}
