:root {
    /* Values */
    --sat: 40%;
    --lig: 60%;
    --alpha: 0.3;

    /* Shades */
    --bg-000: hsl(0, 0%, 000%);
    --bg-004: hsl(0, 0%, 004%);
    --bg-005: hsl(0, 0%, 005%);
    --bg-007: hsl(0, 0%, 007%);
    --bg-010: hsl(0, 0%, 010%);
    --bg-013: hsl(0, 0%, 013%);
    --bg-015: hsl(0, 0%, 015%);
    --bg-016: hsl(0, 0%, 016%);
    --bg-020: hsl(0, 0%, 020%);
    --bg-025: hsl(0, 0%, 025%);
    --bg-030: hsl(0, 0%, 030%);
    --bg-035: hsl(0, 0%, 035%);
    --bg-040: hsl(0, 0%, 040%);
    --bg-045: hsl(0, 0%, 045%);
    --bg-048: hsl(0, 0%, 048%);
    --bg-050: hsl(0, 0%, 050%);
    --bg-055: hsl(0, 0%, 055%);
    --bg-060: hsl(0, 0%, 060%);
    --bg-065: hsl(0, 0%, 065%);
    --bg-070: hsl(0, 0%, 070%);
    --bg-075: hsl(0, 0%, 075%);
    --bg-080: hsl(0, 0%, 080%);
    --bg-085: hsl(0, 0%, 085%);
    --bg-090: hsl(0, 0%, 090%);
    --bg-093: hsl(0, 0%, 093%);
    --bg-095: hsl(0, 0%, 095%);
    --bg-100: hsl(0, 0%, 100%);

    --aw-000: hsla(0, 0%, 100%, 0);
    --aw-005: hsla(0, 0%, 100%, 0.05);
    --aw-010: hsla(0, 0%, 100%, 0.1);
    --aw-015: hsla(0, 0%, 100%, 0.15);
    --aw-016: hsla(0, 0%, 100%, 0.16);
    --aw-020: hsla(0, 0%, 100%, 0.2);
    --aw-025: hsla(0, 0%, 100%, 0.25);
    --aw-030: hsla(0, 0%, 100%, 0.3);
    --aw-035: hsla(0, 0%, 100%, 0.35);
    --aw-040: hsla(0, 0%, 100%, 0.4);
    --aw-045: hsla(0, 0%, 100%, 0.45);
    --aw-050: hsla(0, 0%, 100%, 0.5);
    --aw-055: hsla(0, 0%, 100%, 0.55);
    --aw-060: hsla(0, 0%, 100%, 0.6);
    --aw-065: hsla(0, 0%, 100%, 0.65);
    --aw-070: hsla(0, 0%, 100%, 0.7);
    --aw-075: hsla(0, 0%, 100%, 0.75);
    --aw-080: hsla(0, 0%, 100%, 0.8);
    --aw-085: hsla(0, 0%, 100%, 0.85);
    --aw-090: hsla(0, 0%, 100%, 0.9);
    --aw-095: hsla(0, 0%, 100%, 0.95);
    --aw-100: hsla(0, 0%, 100%, 1);

    --ab-000: hsla(0, 0%, 0%, 0);
    --ab-005: hsla(0, 0%, 0%, 0.05);
    --ab-007: hsla(0, 0%, 0%, 0.07);
    --ab-010: hsla(0, 0%, 0%, 0.1);
    --ab-015: hsla(0, 0%, 0%, 0.15);
    --ab-020: hsla(0, 0%, 0%, 0.2);
    --ab-025: hsla(0, 0%, 0%, 0.25);
    --ab-030: hsla(0, 0%, 0%, 0.3);
    --ab-035: hsla(0, 0%, 0%, 0.35);
    --ab-040: hsla(0, 0%, 0%, 0.4);
    --ab-045: hsla(0, 0%, 0%, 0.45);
    --ab-050: hsla(0, 0%, 0%, 0.5);
    --ab-055: hsla(0, 0%, 0%, 0.55);
    --ab-060: hsla(0, 0%, 0%, 0.6);
    --ab-065: hsla(0, 0%, 0%, 0.65);
    --ab-070: hsla(0, 0%, 0%, 0.7);
    --ab-075: hsla(0, 0%, 0%, 0.75);
    --ab-080: hsla(0, 0%, 0%, 0.8);
    --ab-085: hsla(0, 0%, 0%, 0.85);
    --ab-090: hsla(0, 0%, 0%, 0.9);
    --ab-095: hsla(0, 0%, 0%, 0.95);
    --ab-100: hsla(0, 0%, 0%, 1);

    /* HUE's */
    --red-hue: 0;
    --orange-hue: 30;
    --yellow-hue: 60;
    --lime-hue: 90;
    --green-hue: 100;
    --grass-hue: 120;
    --aqua-hue: 160;
    --sky-hue: 190;
    --blue-hue: 210;
    --purple-hue: 250;
    --violet-hue: 280;
    --magenta-hue: 310;
    --crimson-hue: 340;

    /* Colors */
    --red-100: hsla(var(--red-hue), var(--sat), var(--lig), 1);
    --red-080: hsla(var(--red-hue), var(--sat), var(--lig), 0.8);
    --red-060: hsla(var(--red-hue), var(--sat), var(--lig), 0.6);
    --red-040: hsla(var(--red-hue), var(--sat), var(--lig), 0.4);
    --red-020: hsla(var(--red-hue), var(--sat), var(--lig), 0.2);

    --orange-100: hsla(var(--orange-hue), var(--sat), var(--lig), 1);
    --orange-080: hsla(var(--orange-hue), var(--sat), var(--lig), 0.8);
    --orange-060: hsla(var(--orange-hue), var(--sat), var(--lig), 0.6);
    --orange-040: hsla(var(--orange-hue), var(--sat), var(--lig), 0.4);
    --orange-020: hsla(var(--orange-hue), var(--sat), var(--lig), 0.2);

    --yellow-100: hsla(var(--yellow-hue), var(--sat), var(--lig), 1);
    --yellow-080: hsla(var(--yellow-hue), var(--sat), var(--lig), 0.8);
    --yellow-060: hsla(var(--yellow-hue), var(--sat), var(--lig), 0.6);
    --yellow-040: hsla(var(--yellow-hue), var(--sat), var(--lig), 0.4);
    --yellow-020: hsla(var(--yellow-hue), var(--sat), var(--lig), 0.2);

    --lime-100: hsla(var(--lime-hue), var(--sat), var(--lig), 1);
    --lime-080: hsla(var(--lime-hue), var(--sat), var(--lig), 0.8);
    --lime-060: hsla(var(--lime-hue), var(--sat), var(--lig), 0.6);
    --lime-040: hsla(var(--lime-hue), var(--sat), var(--lig), 0.4);
    --lime-020: hsla(var(--lime-hue), var(--sat), var(--lig), 0.2);

    --green-100: hsla(var(--green-hue), var(--sat), var(--lig), 1);
    --green-080: hsla(var(--green-hue), var(--sat), var(--lig), 0.8);
    --green-060: hsla(var(--green-hue), var(--sat), var(--lig), 0.6);
    --green-040: hsla(var(--green-hue), var(--sat), var(--lig), 0.4);
    --green-020: hsla(var(--green-hue), var(--sat), var(--lig), 0.2);

    --grass-100: hsla(var(--grass-hue), var(--sat), var(--lig), 1);
    --grass-080: hsla(var(--grass-hue), var(--sat), var(--lig), 0.8);
    --grass-060: hsla(var(--grass-hue), var(--sat), var(--lig), 0.6);
    --grass-040: hsla(var(--grass-hue), var(--sat), var(--lig), 0.4);
    --grass-020: hsla(var(--grass-hue), var(--sat), var(--lig), 0.2);

    --aqua-100: hsla(var(--aqua-hue), var(--sat), var(--lig), 1);
    --aqua-080: hsla(var(--aqua-hue), var(--sat), var(--lig), 0.8);
    --aqua-060: hsla(var(--aqua-hue), var(--sat), var(--lig), 0.6);
    --aqua-040: hsla(var(--aqua-hue), var(--sat), var(--lig), 0.4);
    --aqua-020: hsla(var(--aqua-hue), var(--sat), var(--lig), 0.2);

    --sky-100: hsla(var(--sky-hue), var(--sat), var(--lig), 1);
    --sky-080: hsla(var(--sky-hue), var(--sat), var(--lig), 0.8);
    --sky-060: hsla(var(--sky-hue), var(--sat), var(--lig), 0.6);
    --sky-040: hsla(var(--sky-hue), var(--sat), var(--lig), 0.4);
    --sky-020: hsla(var(--sky-hue), var(--sat), var(--lig), 0.2);

    --blue-100: hsla(var(--blue-hue), var(--sat), var(--lig), 1);
    --blue-080: hsla(var(--blue-hue), var(--sat), var(--lig), 0.8);
    --blue-060: hsla(var(--blue-hue), var(--sat), var(--lig), 0.6);
    --blue-040: hsla(var(--blue-hue), var(--sat), var(--lig), 0.4);
    --blue-020: hsla(var(--blue-hue), var(--sat), var(--lig), 0.2);
    --blue-010: hsla(var(--blue-hue), var(--sat), var(--lig), 0.1);

    --purple-100: hsla(var(--purple-hue), var(--sat), var(--lig), 1);
    --purple-080: hsla(var(--purple-hue), var(--sat), var(--lig), 0.8);
    --purple-060: hsla(var(--purple-hue), var(--sat), var(--lig), 0.6);
    --purple-040: hsla(var(--purple-hue), var(--sat), var(--lig), 0.4);
    --purple-020: hsla(var(--purple-hue), var(--sat), var(--lig), 0.2);

    --violet-100: hsla(var(--violet-hue), var(--sat), var(--lig), 1);
    --violet-080: hsla(var(--violet-hue), var(--sat), var(--lig), 0.8);
    --violet-060: hsla(var(--violet-hue), var(--sat), var(--lig), 0.6);
    --violet-040: hsla(var(--violet-hue), var(--sat), var(--lig), 0.4);
    --violet-020: hsla(var(--violet-hue), var(--sat), var(--lig), 0.2);

    --magenta-100: hsla(var(--magenta-hue), var(--sat), var(--lig), 1);
    --magenta-080: hsla(var(--magenta-hue), var(--sat), var(--lig), 0.8);
    --magenta-060: hsla(var(--magenta-hue), var(--sat), var(--lig), 0.6);
    --magenta-040: hsla(var(--magenta-hue), var(--sat), var(--lig), 0.4);
    --magenta-020: hsla(var(--magenta-hue), var(--sat), var(--lig), 0.2);

    --crimson-100: hsla(var(--crimson-hue), var(--sat), var(--lig), 1);
    --crimson-080: hsla(var(--crimson-hue), var(--sat), var(--lig), 0.8);
    --crimson-060: hsla(var(--crimson-hue), var(--sat), var(--lig), 0.6);
    --crimson-040: hsla(var(--crimson-hue), var(--sat), var(--lig), 0.4);
    --crimson-020: hsla(var(--crimson-hue), var(--sat), var(--lig), 0.2);

    /* Accent Color */
    --ac-hue: var(--red-hue);
    --ac-sat: 40%;
    --ac-lig: 80%;

    --ac-100: hsla(var(--ac-hue), var(--ac-sat), var(--ac-lig), 1);
    --ac-080: hsla(var(--ac-hue), var(--ac-sat), var(--ac-lig), 0.8);
    --ac-060: hsla(var(--ac-hue), var(--ac-sat), var(--ac-lig), 0.6);
    --ac-040: hsla(var(--ac-hue), var(--ac-sat), var(--ac-lig), 0.4);
    --ac-020: hsla(var(--ac-hue), var(--ac-sat), var(--ac-lig), 0.2);
    --ac-010: hsla(var(--ac-hue), var(--ac-sat), var(--ac-lig), 0.1);

    /* Animation Curves */
    --exp: cubic-bezier(0.19, 1, 0.22, 1);

    /* Fonts */
    --heading: "PlusJakartaSans";
    --paragraph: "PlusJakartaSans";

    /* Other */
    --radius: 10px;
    --widget-value-font-size: 2.5rem;
    --plant-widget-size: 22rem;
    --border-width: 0px;
}
